<html>

<head>

    <title>
        Manga Downloader
    </title>
    <script src="../script.js"></script>
    <link rel="stylesheet" href="../style.css">

</head>

<body>

    <input spellcheck="false" autofocus size="200">
    <div id="home">
        <a href="/home">Home</a>
    </div>

</body>

</html>