<html>

<head>
    <title>
        Manga Downloader
    </title>
</head>

<body>
    <% for( var i = 0; i < result.length; i+=1) { %>
    <img src="<%= result[i] %>">
    <br />
    <% } %>
</body>

</html>