::-webkit-scrollbar {
    width: 0px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
}

hr {
    border-top: 2.5px solid #00ff00;
}

main {
    flex: 1 0 auto;
}

div {
    display: none;
}

p {
    margin: 0;
}

.checkbox{
    cursor: pointer;
}

footer {
    flex-shrink: 0;
    width: 100%;
}

* {
    outline: none;
    border: none;
    background: #000000;
    color: #00ff00;
    font-size: 15px;
    font-family: 'Share Tech Mono';
}

img {
    display: block;
    width: 100%;
    height: auto;
}