body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    width: 100%;
}

hr {
    border-top: 2.5px solid #00ff00;
}

main {}

div {
    display: none;
}

input {}

p {
    margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

a {}

* {
    overflow: hidden;
    outline: none;
    border: none;
    background: #000000;
    color: #00ff00;
    font-size: 15px;
    font-family: 'Share Tech Mono';
}